body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  animation: gradientMove 10s ease infinite;    /*uncomment for animation bg color */
  background-size: 400% 400%;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Optional styling for buttons */
button {
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}
